<form asp-controller="Account" asp-action="ChangeCurrency" class="currency-form">
    <select class="form-control" id="currencySelect" name="currency" onchange="this.form.submit()">
        <option>AUD</option>
        <option>CAD</option>
        <option>CNY</option>
        <option>EUR</option>
        <option>JPY</option>
        <option selected>NZD</option>
        <option>USD</option>
    </select>
</form>