!<div class="newsletter border-top mt-4 pt-4 pb-4">
    <div class="newsletter-text mr-4 text-muted">Learn about new offers by joining our newsletter</div>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Email address" aria-label="Email address" aria-describedby="sign-up-newsletter">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="sign-up-newsletter">Sign up now</button>
        </div>
    </div>
</div>

