@model iBookStoreMVC.ViewModels.PaginationInfo

<div class="container">
    <article class="pager-wrapper row">
        <div class="simple-pagination" data-total-pages="@Model.TotalPages" data-current-page="@Model.ActualPage"></div>
    </article>
</div>

