<form class="input-group search-form pl-0 col-4">
    <input class="form-control my-0 py-1 " type="text" placeholder="Search for books by title / ISBN" aria-label="Search">
    <div class="input-group-append">
        <span class="input-group-text">
            <i class="fas fa-search text-grey"
               aria-hidden="true"></i>
        </span>
    </div>
</form>