@model iBookStoreMVC.ViewModels.CartComponentViewModel

@{
    ViewData["Title"] = "My Cart";
}

<a class="basket-status @Model.Disabled"
   asp-area=""
   asp-controller="Cart"
   asp-action="Index">
    <div class="basket-status-image">
        <img src="~/images/cart.png" />
    </div>
    <div class="basket-status-badge">
        @Model.ItemsCount
    </div>
</a>