/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.is-disabled {
    pointer-events: none;
    color: grey;
}

.btn.is-disabled {
    background-color: lightgrey;
    border-color: grey;
}

.book-container {
    cursor: pointer;
}

    .book-container:hover .book-name {
        text-decoration: underline;
        color: #297fa3;
    }

.book-img {
    width: 160px;
    height: 160px;
}

.basket-status-image img {
    max-width: 40px;
    max-height: 40px;
}

.basket-status-image.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.basket-status-badge {
    position: absolute;
    left: 54px;
    bottom: -4px;
    height: 20px;
    width: 20px;
    background: #e14c38;
    color: white;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
    font-size: .9em;
}

.basket-title {
    font-weight: 600;
    font-size: 1.2rem;
}

.basket-image {
    max-width: 120px;
    max-height: 120px;
}

.field-validation-valid {
    display: none;
}

.field-validation-error {
    padding: 0.3rem;
    display: inline-block;
    margin: 10px 0 0;
}

.orders_new-image {
    max-width: 100px;
    max-height: 100px;
}

.orders_new-title {
    font-weight: 600;
    font-size: 1.1rem;
}

.orders_detail-titles {
    margin-top: 30px;
}

.orders_detail-title {
    font-weight: 600;
    font-size: 1.1rem;
}

.orders_detail-image {
    max-width: 100px;
    max-height: 100px;
}

.orders-title {
    font-weight: 600;
    font-size: 1.1rem;
}

.orders-item {
    display: flex;
    align-items: center;
}

.page-header {
    margin: 20px 0;
}

.identity-dropdown {
    display: inline-block;
}

    .identity-dropdown:hover {
        cursor: pointer;
    }

    .identity-dropdown button {
        outline: none;
    }

.pager-wrapper {
    justify-content: center;
    margin-top: 30px;
}

.category-button {
    padding-top: 0;
}

.manage-book-container {
    align-items: center;
}

.manage-book-img img {
    max-width: 50px;
    max-height: 50px;
    box-sizing: content-box;
}

.books_detail-title {
    font-weight: 600;
    font-size: 1.2rem;
}
