/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.panel {
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.is-disabled {
    pointer-events: none;
    color: grey;
}

.catalog-item {
    padding: 40px;
}

.book-name {
    color: #212529;
}

.book-container {
    cursor: pointer;
    font-size: 0.9em;
    color: #333;
}

    .book-container .book-name {
        font-weight: 600;
        height: 48px;
        overflow: hidden;
    }

    .book-container .author-name {
        height: 28px;
        overflow: hidden;
    }

.catalog-item .btn.btn-primary {
    width: 80%;
}

.book-price {
    font-size: 1.2em;
    color: #ff0072;
}

.book-container:hover .book-name {
    text-decoration: underline;
}

.book-container .book-img {
    max-width: 160px;
    max-height: 160px;
}

.basket-status {
    display: inline-block;
}

.basket-status-image img {
    max-width: 40px;
    max-height: 40px;
}

.basket-status-image.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.basket-status-badge {
    position: absolute;
    left: 54px;
    bottom: -4px;
    height: 20px;
    width: 20px;
    background: #e14c38;
    color: white;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
    font-size: .9em;
}

.basket-title {
    font-weight: 600;
    font-size: 1.2rem;
}

.basket-image {
    max-width: 120px;
    max-height: 120px;
}

.field-validation-valid {
    display: none;
}

.field-validation-error {
    padding: 0.3rem;
    display: inline-block;
    margin: 10px 0 0;
}

.orders-image {
    max-width: 100px;
    max-height: 100px;
}

.orders-title {
    font-weight: 600;
    font-size: 1.1rem;
}

.orders_detail-titles {
    margin-top: 30px;
}

.orders_detail-title {
    font-weight: 600;
    font-size: 1.1rem;
}

.orders_detail-image {
    max-width: 100px;
    max-height: 100px;
}

.orders-title {
    font-weight: 600;
    font-size: 1.1rem;
}

.orders-item {
    display: flex;
    align-items: center;
}

.page-header {
    margin: 20px 0;
}

.identity-dropdown {
    display: inline-block;
}

    .identity-dropdown:hover {
        cursor: pointer;
    }

    .identity-dropdown button {
        outline: none;
    }

.pager-wrapper {
    justify-content: center;
    margin-top: 30px;
}

.category-button {
    padding-top: 0;
}

.manage-book-container {
    align-items: center;
}

.manage-book-img img {
    max-width: 50px;
    max-height: 50px;
    box-sizing: content-box;
}

.books_detail-title {
    font-weight: 600;
    font-size: 1.2rem;
}

.book-catagory, .book-catagory a {
    color: #6c757d
}

.lhs-detail {
    display: flex;
}

    .lhs-detail .book-img {
        flex: 3;
    }

        .lhs-detail .book-img img {
            max-width: 100%;
            height: auto;
        }

    .lhs-detail .book-detail {
        flex: 5;
    }

    .lhs-detail .book-info {
        border-top: 1px solid #eee;
        font-size: 0.9em;
    }

        .lhs-detail .book-info .book-rating {
            position: relative;
            bottom: 2px;
            left: -3px;
            margin-right: 3px;
        }

.rhs-detail {
    height: 100%;
    width: 100%;
}

    .rhs-detail .book-price {
        font-size: 32px;
        line-height: 50px;
    }

    .rhs-detail form {
        border-top: 1px solid #eee;
        font-size: 0.9em;
    }

    .rhs-detail .rhs-info {
        border-top: 1px solid #eee;
        font-weight: 500;
        font-size: 0.9em;
    }

        .rhs-detail .rhs-info div {
            line-height: 50px;
            display: flex;
            align-items: center;
        }

        .rhs-detail .rhs-info i {
            font-size: 24px;
            margin-right: 10px;
            width: 32px;
        }

        .rhs-detail .rhs-info .out-of-stock {
            color: #ff0072
        }

    .rhs-detail .btn {
        width: 100%;
    }

.wishlist-container {
    font-size: 0.9em;
}

    .wishlist-container .book-name {
        min-height: 50px;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 26px;
        display: inline-block;
    }

    .wishlist-container .book-img img {
        max-width: 100%;
        height: auto;
    }

    .wishlist-container .book-price {
        font-size: 24px;
        line-height: 60px;
    }
