@model IEnumerable<SelectListItem>

<section class="category-filters">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Shop by category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
            @foreach (var category in Model)
            {
                <a asp-controller="Catalog" asp-action="Index" asp-route-categoryFilterApplied="@category.Value" class="dropdown-item">@category.Text</a>
            }
        </div>
    </div>
</section>