@using iBookStoreMVC.ViewModels
@model iBookStoreMVC.ViewModels.Order

@{
    ViewData["Title"] = "Order Detail";
}

@await Html.PartialAsync("_Header", new List<Header>() {
    new Header() { Controller = "OrderManagement", Text = "<< Back to manage orders" } })

@await Html.PartialAsync("_OrderDetails")

<div class="container mb-2 @(Model.Status != OrderStatus.Paid ? "d-none" : "")">
    <div class="row">
        <div class="col-2 ml-auto">
            <a class="orders-link btn btn-primary"
               asp-action="OrderProcess"
               asp-route-orderId="@Model.OrderNumber">Ship Order</a>
        </div>
    </div>
</div>
