@model iBookStoreMVC.ViewModels.CatalogIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h4>
        @if (!String.IsNullOrWhiteSpace(Model.SearchTerm))
        {
            <span>Search results for @Model.SearchTerm</span>
        }
        else if (Model.CategoryFilterApplied != null)
        {
            <span>Category: @Model.Categories.Single(c => c.Value == Model.CategoryFilterApplied.Value.ToString()).Text</span>
        }
        else
        {
            <span>All Books</span>
        }
    </h4>

    @if (Model.PaginationInfo.TotalItems == 0)
    {
        <div class="d-flex align-items-center justify-content-center p-5">
            <span>No books have been found.</span>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var item in Model.CatalogItems)
            {
                <div class="col-3">
                    @Html.Partial("_CatalogItemCardPartial", item)
                </div>
            }
        </div>
        @Html.Partial("_PaginationPartial", Model.PaginationInfo)
    }
</div>
