@using Microsoft.AspNetCore.Identity

<section class="col-4">
    <div class="identity-container">
        <a asp-area="" asp-controller="Account" asp-action="SignIn">
            Login
        </a>
    </div>
</section>