@using iBookStoreMVC.ViewModels
@model CatalogItem

@{
    ViewData["Title"] = "Book Detail";
}

@await Html.PartialAsync("_Header", new List<Header>() {
    new Header() { Controller = "CatalogManagement", Text = "<< Back to books" } })

<h4>Book Detail</h4>
<div class="books_detail">
    <div class="container">
        <section class="books_detail-section">
            <article class="books_detail-titles row">
                <section class="books_detail-title col-3">Picture</section>
                <section class="books_detail-title col-3">Name</section>
                <section class="books_detail-title col-3">Author</section>
                <section class="books_detail-title col-3">Price</section>
            </article>

            <article class="books_detail-items row">
                <section class="books_detail-item col-3 manage-book-img"><img src="~/images/book_placeholder.jpg" /></section>
                <section class="books_detail-item col-3">@Model.Name</section>
                <section class="books_detail-item col-3">@Model.Author</section>
                <section class="books_detail-item col-3">$@Model.Price</section>
            </article>
        </section>
    </div>

</div>