@model iBookStoreMVC.ViewModels.CatalogManagementIndexViewModel

@{
    ViewData["Title"] = "Manage Catalog";
}

<h4>Manage Books</h4>
<div class="manage-books">
    <div class="container">
        @foreach (var item in Model.CatalogItems)
        {
            <div class="row flex-row manage-book-container pt-4">
                <div class="manage-book-img col-2">
                    <img src="~/images/book_placeholder.jpg" />
                </div>
                <span class="book-name col-3">@item.Name</span>
                <span class="col-3">@item.Author</span>
                <span class="col-3">$@item.Price.ToString("N2")</span>
                <a class="book-link" asp-controller="CatalogManagement" asp-action="Detail" asp-route-catalogItemId="@item.Id">Detail</a>
            </div>
        }
    </div>
    @Html.Partial("_pagination", Model.PaginationInfo)
</div>




