@model iBookStoreMVC.ViewModels.CartComponentViewModel

@{
    ViewData["Title"] = "My Cart";
}

<a class="basket-status @Model.Disabled"
   asp-area=""
   asp-controller="Cart"
   asp-action="Index">
    @if (ViewBag.IsBasketInoperative == true)
    {
    <div class="basket-status-image">
        <img src="~/images/cart-inoperative.png" />
    </div>
    <div class="basket-status-badge-inoperative">
        X
    </div>
    }
    else
    {
    <div class="basket-status-image">
        <img src="~/images/cart.png" />
    </div>
    <div class="basket-status-badge">
        @Model.ItemsCount
    </div>
    }
</a>