@using iBookStoreMVC.Service
@using iBookStoreMVC.ViewModels
@inject IIdentityParser<ApplicationUser> UserManager

@{
    ViewData["Title"] = "My Cart";
}

<form method="post" id="cartForm">
    <div class="basket-container">
        @await Component.InvokeAsync("CartList", new { user = UserManager.Parse(User) })
    </div>
</form>
